# ide stuff
.vscode
.lsp
.idea
.clj-kondo

# kicad test files
*.kicad_prl
*.kicad_sym
fp-info-cache
/tests/**/*-backups

# python
/venv
/dist
__pycache__
.coverage
poetry.lock

# temp tools and files
format.l
/empty-module
/example-module
